name: Build and release Worker

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      app_version:
        description: Semantic version of release
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  build_and_release_worker:
    if: startsWith(github.ref, 'refs/tags/worker-') || inputs.app_version != ''
    environment: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set version
        id: set-version
        run: |
          if [[ ! -z "${{ inputs.app_version }}" ]]; then
            echo "app_version=${{ inputs.app_version }}" >> $GITHUB_OUTPUT
          else
            echo "app_version=${GITHUB_REF_NAME#worker-}" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_GITHUB }}
          aws-region: us-east-1

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr
        with:
          registry-type: public
          mask-password: 'true'

      - name: Build and push worker container image to Amazon ECR
        uses: docker/build-push-action@v5
        with:
          file: ./docker/Dockerfile.worker
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/n4e0e1y0/airstore-worker:${{ steps.set-version.outputs.app_version }}
            ${{ steps.login-ecr.outputs.registry }}/n4e0e1y0/airstore-worker:latest
          target: final
          platforms: linux/amd64
